body {
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.fatherContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
  padding: 0.0rem 4rem 0rem 4rem;
  text-align: center;
  font-size: x-large;
}

.palletCollors {
  height: 48px;
  width: 54px;
}

.father {
  display: flex;
  margin-bottom: 2em;
};

main {
  width: 100%;
  height: 100%;
}